<div class="max-w-screen-lg mx-auto h-full px-6 py-4 text-justify">
    <div class="py-2 space-y-2">
      <h1 class="text-xl md:text-2xl font-semibold text-purple-500">
        About EliteAppMakers
      </h1>
      <p class="text-base md:text-lg">
        EliteAppMakers is an independent research organization founded with the
        goal of promoting and developing artificial intelligence (AI) in a safe
        and a beneficial manner. It was established in 2023 by a group of technology
        entrepreneurs and researchers, founded by Elavazhakan.
      </p>
    </div>
    <div class="py-2 space-y-2">
      <h1 class="text-xl md:text-2xl font-semibold text-purple-500">
        Our Mission
      </h1>
      <p class="text-base md:text-lg">
        Empowering Creators To Become Solopreneurs. Empowering solopreneurs with
        advanced artificial general intelligence to optimize and streamline their
        businesses for unprecedented growth and success.
      </p>
    </div>
    <div class="py-2 space-y-2">
      <h1 class="text-xl md:text-2xl font-semibold text-purple-500">
        About NELA AI
      </h1>
      <p class="text-base md:text-lg">
        In a world where AI evolves at warp speed, we've crafted a mind-blowing
        solution that shatters the boundaries of traditional AI. Brace yourself
        for a journey into the extraordinary, where our AGI platform conquers a
        vast universe of AI challenges in text, image, audio, and video like never
        before. Sign in to experience the AI revolution firsthand.
      </p>
    </div>
    <div class="py-2 space-y-2">
      <h1 class="text-xl md:text-2xl font-semibold text-purple-500">
        Our Expertise
      </h1>
      <p class="text-base md:text-lg">
        <span class="font-bold">Text Based Task:</span> Revolutionize text-based
        tasks with our AGI product: Seamlessly generate, analyze, and extract
        insights from text, transforming how you approach content creation, data
        comprehension, and knowledge management. By focusing on these key areas,
        the Nela AGI aims to offer a comprehensive and adaptable solution for a
        wide range of text-based tasks, catering to the evolving needs of users in
        various industries and domains.
      </p>
      <p class="text-base md:text-lg">
        <span class="font-bold">Image Based Tasks:</span> Revolutionize
        image-based tasks with our AGI product: Elevate your visual content
        creation, analysis, and understanding capabilities to new heights. Nela
        AGI empowers you to generate stunning images, seamlessly restore missing
        details, classify and describe visual elements, detect objects with
        precision, and answer questions based on visuals. With optical character
        recognition, it unlocks the textual information within images. By focusing
        on these key areas, Nela AGI is your versatile solution for conquering
        image-related challenges across diverse domains and industries.
      </p>
  
      <p class="text-base md:text-lg">
        <span class="font-bold">Audio Based Tasks:</span> Elevate your audio-based
        tasks with our cutting-edge AGI product: Unlock the power of sound and
        voice like never before. Whether it's crafting melodies, restoring audio,
        or transcribing speech, our Nela AGI redefines what's possible. By
        specializing in these essential domains, we aim to provide an
        all-encompassing, adaptable solution to meet the diverse requirements of
        users across various industries and applications. Experience a new era in
        audio innovation with Nela AGI.
      </p>
      <p class="text-base md:text-lg">
        <span class="font-bold">Video Based Tasks:</span> Unlock the future of
        video-related tasks with our advanced AGI product. From generating
        captivating videos to categorizing and summarizing content, our Nela AGI
        is here to revolutionize the way you interact with visual media. With
        seamless integration of cutting-edge technology, we aim to provide a
        versatile and adaptable solution for video-based tasks across diverse
        industries and applications. Say goodbye to traditional video processing
        limitations and embrace the limitless possibilities of our AGI-driven
        approach.
      </p>
    </div>
  </div>
  