<footer class="w-full px-6 py-3 rounded-lg shadow-lg bg-purple-50 text-purple-500">
    <div
      class="max-w-7xl text-sm md:text-base flex flex-wrap justify-between mx-auto gap-4"
    >
      <div class="flex justify-start items-center ">EliteAppMakers</div>
  
      <div class="flex items-center gap-x-2 sm:gap-x-3">
        <a
          class="text-purple-500"
          href="https://nela.eliteappmakers.in/privacy-policy"
          >Privacy Policy</a
        >
        <a
          class="text-purple-500"
          href="https://nela.eliteappmakers.in/terms-and-conditions"
          >Terms and Conditions</a
        >
        <a
          class="text-purple-500"
          href="https://nela.eliteappmakers.in/contact-us"
          >Contact</a
        >
      </div>
    </div>
  </footer>
